/* 
---------------------------------------------
                    reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, div pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, figure, header, nav,
section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--black);
}

@media (max-width: 767px) {
    html,
    body {
        height: auto;
        overflow: auto;
    }
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-user-drag: none;
}

ul,
ol,
li {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    -webkit-user-drag: none;
}

address {
    font-style: normal;
}
