/* 
---------------------------------------------
                Typography
--------------------------------------------- 
*/
/* Urbanist */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable.css");

:root {
    --font-en: "Urbanist", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --font-kr: "Pretendard Variable", "Pretendard", system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
}

body {
    font-family: var(--font-kr);
    line-height: 1.6;
    color: var(--black);
}

p {
    font-size: var(--font-base);
}

.en {
    font-family: var(--font-en);
}