/* 
---------------------------------------------
                  Variabls
--------------------------------------------- 
*/
:root {
  /* Font Sizes */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 22px;
  --font-2xl: 24px;
  --font-3xl: 26px;
  --font-4xl: 28px;
  --font-headline32: 32px;
  --font-headline36: 36px;
  --font-headline42: 42px;
  --font-headline46: 46px;
  --font-subtop: 74px;
  --font-title58: 58px;
  --font-title62: 62px;
  --font-title68: 68px;
  --font-title80: 80px;
  --font-title100: 100px;

  /* Point Colors */
  --green: #87B145;
  --blue: #1880F8;
  --brown: #322823;
  --bg-1: rgba(248, 248, 248, 0.5);
  --bg-2: #F8F8F8;

  --black: #111111;
  --black-800: #4D4D4D;
  --black-700: #747474;
  --black-600: #A6A5A5;
  --black-500: #C0C0C0;
  --black-400: #D6D6D5;
  --black-300: #E5E5E4;
  --black-200: #F1F1F1;
  --black-100: #F6F7F8;

  --white: #FFFFFF;
  --white-100: rgba(255, 255, 255, 1);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-10: rgba(255, 255, 255, 0.1);

  --container-width: 1584px;

}
