<!-- s: HEADER -->
<header class="header">
    <div class="inner">
        <a href="/" class="logo">
            <img src="../../assets/img/common/logo.png" alt="STARSTECH">
        </a>

        <nav class="nav">
            <ul class="menu">
                <li class="item" data-menu="story">
                    <a href="../pages/sub0101.html">
                        <span>Our Story</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="story">
                        <div class="box">
                            <img src="../assets/img/common/header-card01.png" alt="">
                            <a class="link" href="../pages/sub0101.html"><i class="icon arrow" aria-hidden="true"></i>About STAR'S TECH</a>
                            <a class="link" href="../pages/sub0102.html"><i class="icon arrow" aria-hidden="true"></i>Team</a>
                            <a class="link" href="../pages/sub0105.html"><i class="icon arrow" aria-hidden="true"></i>Careers</a>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="brands">
                    <a href="../pages/sub0301.html">
                        <span>Our Brands</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="brands">
                        <div class="cards">
                            <div class="card">
                                <img src="../assets/img/common/header-card03.png" alt="">
                                <div class="title">Ice melt</div>
                                <a class="link" href="../pages/sub0301.html"><i class="icon link" aria-hidden="true"></i>Starcrush</a>
                                <a class="link" href="../pages/sub0303.html"><i class="icon arrow" aria-hidden="true"></i>ECO-ST</a>
                            </div>
                            <div class="card">
                                <img src="../assets/img/common/header-card04.png" alt="">
                                <div class="title big">Beauty</div>
                                <a class="link" href="../pages/sub0302.html"><i class="icon arrow" aria-hidden="true"></i>Labope</a>
                                <a class="link" href="../pages/sub0302.html"><i class="icon link" aria-hidden="true"></i>Penellagen</a>
                            </div>
                            <div class="card">
                                <img src="../assets/img/common/header-card05.png" alt="">
                                <div class="title big">Fertilizer</div>
                                <a class="link" href="../pages/sub0303.html"><i class="icon arrow" aria-hidden="true"></i>FertiStar</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="impact">
                    <a href="../pages/sub0201.html">
                        <span>Our Impact</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="impact">
                        <div class="box">
                            <img src="../assets/img/common/header-card02.png" alt="">
                            <a class="link" href="../pages/sub0201.html"><i class="icon arrow" aria-hidden="true"></i>Social Impact</a>
                            <a class="link" href="../pages/sub0202.html"><i class="icon arrow" aria-hidden="true"></i>Sustainability</a>
                            <a class="link" href="../pages/sub0203.html"><i class="icon arrow" aria-hidden="true"></i>Awards</a>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="news">
                    <a href="../pages/sub0501.html">
                        <span>News</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="news">
                        <div class="box">
                            <img src="../assets/img/common/header-card06.png" alt="">
                            <a class="link" href="../pages/sub0501.html"><i class="icon arrow" aria-hidden="true"></i>Newsroom</a>
                            <a class="link" href="../pages/sub0502.html"><i class="icon arrow" aria-hidden="true"></i>PR</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="right">
            <div class="actions">
                <div class="lang-select">
                    <button class="lang" type="button" aria-label="Select language" aria-expanded="false" aria-controls="langMenu">
                        <i class="globe" aria-hidden="true"></i>
                        <span class="text">KR</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </button>
                    <div class="lang-menu" id="langMenu" role="menu" aria-hidden="true">
                        <a href="../ko/" data-lang="ko" role="menuitem">KR</a>
                        <a href="../en/" data-lang="en" role="menuitem">EN</a>
                        <a href="../fr/" data-lang="fr" role="menuitem">FR</a>
                        <a href="../ja/" data-lang="ja" role="menuitem">JA</a>
                        <a href="../mn/" data-lang="mn" role="menuitem">MN</a>
                    </div>
                </div>
                <a class="contact" href="../pages/sub0601.html">Contact Us</a>
            </div>
            <button class="navbtn" type="button" aria-label="Open navigation" aria-expanded="false">
                <img src="../../assets/icons/icon-hambergur.svg" alt="Menu">
            </button>
        </div>
    </div>
</header>

<div class="overlay" aria-hidden="true">
    <div class="inner">
        <div class="left">
            <img src="../../assets/img/common/logo.png" alt="">
            <div class="brand">
                <p class="brandtitle">GB Tech</p>
                <p class="brandsub">genebiotech</p>
            </div>
        </div>

        <div class="right">
            <div class="top">
                <div class="brandline">
                    <img class="logo" src="../../assets/img/common/logo.png" alt="">
                </div>

                <button class="closebtn" type="button" aria-label="Close navigation">
                    <img src="../../assets/icons/icon-close.svg" alt="">
                </button>
            </div>
            <div class="menulist"></div>
            <a class="contactbtn" href="../pages/sub0601.html">Contact</a>
        </div>
    </div>
</div>
<!-- e: HEADER -->
