<!-- s: HEADER -->
<header class="main-header">
    <div class="header-inner">
        <div class="header-left">
                <a href="/" class="logo">
                    <img src="../../assets/img/common/logo.png" data-original="../../assets/img/common/logo.png"
                        data-logo-default="../../assets/img/common/logo.png"
                        data-logo-transparent="../../assets/img/common/logo-white.png"
                        data-scroll-src="../../assets/img/common/logo-scroll.png" alt="" />
                </a>
        </div>

        <nav class="main-nav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="../pages/sub0101.html">Company</a>
                    <div class="submenu">
                        <ul>
                            <li><a href="../pages/sub0101.html">About STARSTECH</a></li>
                            <li><a href="../pages/sub0102.html">인사말</a></li>
                            <li><a href="../pages/sub0103.html">연혁</a></li>
                            <li><a href="../pages/sub0104.html">계열사</a></li>
                            <li><a href="../pages/sub0105.html">오시는길</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="../pages/sub0201.html">Technology</a>
                    <div class="submenu">
                        <ul>
                            <li><a href="../pages/sub0201.html">첨단 자동화 시스템</a></li>
                            <li><a href="../pages/sub0202.html">장인정신 및 기술</a></li>
                            <li><a href="../pages/sub0203.html">인증 및 특허</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="../pages/sub0301.html">Business</a>
                    <div class="submenu">
                        <ul>
                            <li><a href="../pages/sub0301.html">B2B/B2G</a></li>
                            <li><a href="../pages/sub0302.html">FREIM LAB</a></li>
                            <li><a href="../pages/sub0303.html">여백</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="../pages/sub0401.html">Space</a>
                    <div class="submenu">
                        <ul>
                            <li><a href="../pages/sub0401.html">무월관·여백 공간</a></li>
                            <li><a href="../pages/sub0402.html">쇼룸</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="../pages/sub0501.html">Newsroom</a>
                    <div class="submenu">
                        <ul>
                            <li><a href="../pages/sub0501.html">보도자료</a></li>
                            <li><a href="../pages/sub0502.html">공지사항</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="../pages/sub0601.html">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="header-right">
            <div class="header-actions">
                <a class="header-link" href="https://yeobaeg.com/" target="_blank" rel="noopener noreferrer">
                    <span>여백</span>
                    <span class="link-icon" aria-hidden="true"></span>
                </a>
                <a class="header-link" href="https://freim.kr/index.html" target="_blank" rel="noopener noreferrer">
                    <span>FREIM LAB</span>
                    <span class="link-icon" aria-hidden="true"></span>
                </a>
            </div>
            <button class="nav-toggle" type="button" aria-label="Open navigation" aria-expanded="false">
                <img src="../../assets/icons/icon-hambergur.svg" alt="Menu">
            </button>
        </div>
    </div>
</header>

<div class="overlay" aria-hidden="true">
    <div class="inner">
        <div class="left">
            <img src="../../assets/img/common/logo.png" alt="">
            <div class="brand">
                <p class="brand-title">GB Tech</p>
                <p class="brand-sub">genebiotech</p>
            </div>
        </div>

        <div class="right">
            <div class="top">
                <div class="brand-inline">
                    <img class="logo" src="../../assets/img/common/logo.png" alt="">
                </div>

                <button class="close-btn" type="button" aria-label="Close navigation">
                    <img src="../../assets/icons/icon-close.svg" alt="">
                </button>
            </div>
            <div class="menu-list"></div>
            <a class="contact-button" href="../pages/sub0601.html">Contact</a>
        </div>
    </div>
</div>
<!-- e: HEADER -->
