<!-- s: HEADER -->
<header class="header">
    <div class="inner">
        <a href="/" class="logo">
            <img src="../../assets/img/common/logo.png" alt="STARSTECH">
        </a>

        <nav class="nav">
            <ul class="menu">
                <li class="item" data-menu="story">
                    <a href="../pages/sub0101.html">
                        <span>Our Story</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="story">
                        <div class="box">
                            <a class="link" href="../pages/sub0101.html">About</a>
                            <a class="link" href="../pages/sub0102.html">Team</a>
                            <a class="link" href="../pages/sub0103.html">Careers</a>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="brands">
                    <a href="../pages/sub0201.html">
                        <span>Our Brands</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="brands">
                        <div class="cards">
                            <div class="card">
                                <a class="title" href="../pages/sub0201.html">Ice melt</a>
                                <!-- <a class="link" href="#">Starcrush</a> -->
                                <a class="link" href="../pages/sub0202.html">ECO-ST</a>
                                <a class="link" href="../pages/sub0207.html">ECO-SL</a>
                            </div>
                            <div class="card">
                                <a class="title big" href="../pages/sub0203.html">Beauty</a>
                                <a class="link" href="../pages/sub0204.html">Labope</a>
                                <a class="link" href="https://www.penellagen.com/" target="_blank" rel="noopener noreferrer">Penellagen</a>
                            </div>
                            <div class="card">
                                <a class="title big" href="../pages/sub0205.html">Fertilizer</a>
                                <a class="link" href="../pages/sub0206.html">FertiStar</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="impact">
                    <a href="../pages/sub0301.html">
                        <span>Our Impact</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="impact">
                        <div class="box">
                            <!-- <a class="link" href="../pages/sub0301.html">Social Impact</a> -->
                            <a class="link" href="../pages/sub0302.html">Sustainability</a>
                            <a class="link" href="../pages/sub0303.html">Awards</a>
                        </div>
                    </div>
                </li>
                <li class="item" data-menu="news">
                    <a href="../pages/sub0401.html">
                        <span>News</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </a>
                    <div class="panel" data-menu="news">
                        <div class="box">
                            <a class="link" href="../pages/sub0401.html">Newsroom</a>
                            <a class="link" href="../pages/sub0402.html">PR</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="right">
            <div class="actions">
                <div class="lang-select">
                    <button class="lang" type="button" aria-label="Select language" aria-expanded="false" aria-controls="langMenu">
                        <i class="globe" aria-hidden="true"></i>
                        <span class="text">KR</span>
                        <i class="arrow" aria-hidden="true"></i>
                    </button>
                    <div class="lang-menu" id="langMenu" role="menu" aria-hidden="true">
                        <a href="../ko/" data-lang="ko" role="menuitem">KR</a>
                        <a href="../en/" data-lang="en" role="menuitem">EN</a>
                        <a href="../fr/" data-lang="fr" role="menuitem">FR</a>
                        <a href="../ja/" data-lang="ja" role="menuitem">JA</a>
                        <a href="../mn/" data-lang="mn" role="menuitem">MN</a>
                    </div>
                </div>
                <a class="contact" href="../pages/sub0501.html" data-slug="contact">Contact Us</a>
            </div>
            <button class="navbtn" type="button" aria-label="Open navigation" aria-expanded="false" aria-controls="mobileNav">
                <span class="icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</header>

<div class="overlay-menu" id="mobileNav" aria-hidden="true">
    <div class="inner">
        <div class="top">
            <img class="logo" src="../../assets/img/common/logo.png" alt="">
            <button class="closebtn" type="button"><i class="icon" aria-hidden="true"></i></button>
        </div>
        <div class="menulist"></div>
        <a class="contactbtn" href="../pages/sub0501.html" data-slug="contact">Contact Us</a>
    </div>
</div>
<!-- e: HEADER -->
